In [28]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
from bio_climate_batch import DataPreprocessor, BioClimateCalculator

In [ ]:
# 初始化預處理器
processor = DataPreprocessor(r"D:\碩論Final_Data\資料整合\衛星影像數據\Era5\N=9802\Era5_30y_merge.csv")

# 分批次處理ID範圍 0-9802
processor.process_data(total_ids=9802, batch_size=100, start_date="2021-01-01" , end_date = "2024-12-31")

# 合併結果並輸出
processor.merge_and_export(r"D:\碩論Final_Data\資料整合\衛星影像數據\N=9802\Bio_2124_20250602.csv" )

Processing IDs:   1%|▌                                                            | 1/99 [02:52<4:41:21, 172.26s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

Processing IDs:   2%|█▏                                                           | 2/99 [06:07<4:59:55, 185.52s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標
已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

Processing IDs:   3%|█▊                                                           | 3/99 [08:45<4:36:54, 173.06s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

Processing IDs:   5%|███                                                          | 5/99 [13:52<4:13:09, 161.59s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

Processing IDs:   6%|███▋                                                         | 6/99 [16:47<4:17:21, 166.03s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

Processing IDs:   7%|████▎                                                        | 7/99 [20:03<4:29:40, 175.87s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

Processing IDs:   8%|████▉                                                        | 8/99 [22:55<4:24:36, 174.46s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

Processing IDs:   9%|█████▌                                                       | 9/99 [25:33<4:14:03, 169.37s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標
已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

Processing IDs:  10%|██████                                                      | 10/99 [29:33<4:43:47, 191.33s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

Processing IDs:  11%|██████▋                                                     | 11/99 [33:25<4:58:51, 203.77s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

Processing IDs:  12%|███████▎                                                    | 12/99 [38:54<5:50:39, 241.83s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

Processing IDs:  13%|███████▉                                                    | 13/99 [43:31<6:01:36, 252.29s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

Processing IDs:  14%|████████▍                                                   | 14/99 [50:45<7:15:29, 307.41s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

Processing IDs:  15%|█████████                                                   | 15/99 [55:08<6:51:27, 293.90s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

Processing IDs:  17%|█████████▉                                                | 17/99 [1:01:32<5:26:37, 238.99s/batch]

已將Temp欄位轉換為攝氏溫標
已將Tmax欄位轉換為攝氏溫標
已將Tmin欄位轉換為攝氏溫標

In [19]:
df = pd.read_csv(R'D:\碩論Final_Data\資料整合\衛星影像數據\N=9802\Bio_1520_20250531.csv', index_col=False)

In [20]:
df_new = df.groupby('ID', as_index = False).mean().drop(columns = 'Year')

In [21]:
df_new.to_csv('Bio_1520.csv')

In [22]:
all_fid = pd.DataFrame({'ID': range(9802)})
        # 將缺失的 FID 補充上，並設置 mean 為 0
missing_fid = all_fid[~all_fid['ID'].isin(df_new['ID'])]
missing_fid.loc[:, ['MEAN']] = np.nan

In [26]:
missing_fid

        ID  MEAN
118    118   NaN
329    329   NaN
330    330   NaN
335    335   NaN
358    358   NaN
...    ...   ...
9593  9593   NaN
9654  9654   NaN
9718  9718   NaN
9729  9729   NaN
9794  9794   NaN

[241 rows x 2 columns]

In [23]:
df_filled = pd.concat([df_new, missing_fid], ignore_index=True)

In [27]:
df_filled

,ID,Bio1,Bio2,Bio4,Bio5,Bio6,Bio12,Bio13,Bio14,Bio7,...,Bio15,Bio8,Bio9,Bio10,Bio16,Bio17,Bio18,Bio19,Bio11,MEAN
0,0,1.274113,5.246122,5.707928,18.876769,-19.178035,1.058789,0.151762,0.036065,38.054805,...,3.247550,-0.587908,2.295686,8.609315,0.361170,0.165902,0.240426,0.233647,-5.520154,NaN
1,1,2.969829,4.426301,4.637879,17.718767,-15.710482,1.521004,0.250813,0.057172,33.429249,...,5.131100,0.254276,6.724879,8.938225,0.569776,0.227170,0.291757,0.428566,-2.284336,NaN
2,2,0.634936,5.098447,5.310553,18.331676,-18.052890,1.151055,0.196317,0.043414,36.384566,...,3.955214,-2.081967,3.420040,7.633036,0.428594,0.181164,0.228891,0.317294,-5.231919,NaN
3,3,-0.648019,4.978817,5.185311,15.523205,-19.153792,1.564840,0.260637,0.056820,34.676997,...,5.457919,-4.885246,1.830696,6.216306,0.587591,0.228490,0.300750,0.454461,-6.373396,NaN
4,4,1.216165,4.355915,5.140066,17.336868,-17.122097,1.350582,0.206595,0.047277,34.458965,...,4.498323,-3.322229,6.334701,7.927221,0.505149,0.188807,0.221951,0.361019,-4.725642,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9797,9797,-2.036515,8.180417,15.262128,30.833913,-43.936232,0.425551,0.072777,0.011543,74.770145,...,1.771567,13.032416,-13.425490,17.089929,0.157847,0.055215,0.137076,0.074297,-19.259919,NaN
9798,9798,26.684549,7.981693,1.354729,36.454231,14.818628,1.540632,0.312397,0.010377,21.635603,...,9.367203,26.334546,26.513112,28.457347,0.789725,0.055661,0.304322,0.149218,25.303692,NaN
9799,9799,25.668070,4.466860,0.693091,31.140641,21.176861,2.394171,0.347005,0.046229,9.963780,...,8.306674,25.588936,25.546733,26.596188,0.898447,0.241608,0.480408,0.341647,24.819402,NaN
9800,9800,22.630146,10.227159,2.794498,34.273876,9.942421,0.493346,0.108386,0.004037,24.331456,...,3.420630,25.143632,20.060628,25.919785,0.240304,0.022127,0.200804,0.040699,19.236848,NaN
9801,9801,13.570060,6.704890,7.363553,30.402112,-4.890279,1.898200,0.366231,0.045557,35.292391,...,8.332920,20.333312,4.780822,22.340990,0.818158,0.222729,0.746742,0.241955,4.488431,NaN

In [24]:
df_filled = df_filled.sort_values(by='ID').reset_index(drop=True)
df_filled

,ID,Bio1,Bio2,Bio4,Bio5,Bio6,Bio12,Bio13,Bio14,Bio7,...,Bio15,Bio8,Bio9,Bio10,Bio16,Bio17,Bio18,Bio19,Bio11,MEAN
0,0,1.274113,5.246122,5.707928,18.876769,-19.178035,1.058789,0.151762,0.036065,38.054805,...,3.247550,-0.587908,2.295686,8.609315,0.361170,0.165902,0.240426,0.233647,-5.520154,NaN
1,1,2.969829,4.426301,4.637879,17.718767,-15.710482,1.521004,0.250813,0.057172,33.429249,...,5.131100,0.254276,6.724879,8.938225,0.569776,0.227170,0.291757,0.428566,-2.284336,NaN
2,2,0.634936,5.098447,5.310553,18.331676,-18.052890,1.151055,0.196317,0.043414,36.384566,...,3.955214,-2.081967,3.420040,7.633036,0.428594,0.181164,0.228891,0.317294,-5.231919,NaN
3,3,-0.648019,4.978817,5.185311,15.523205,-19.153792,1.564840,0.260637,0.056820,34.676997,...,5.457919,-4.885246,1.830696,6.216306,0.587591,0.228490,0.300750,0.454461,-6.373396,NaN
4,4,1.216165,4.355915,5.140066,17.336868,-17.122097,1.350582,0.206595,0.047277,34.458965,...,4.498323,-3.322229,6.334701,7.927221,0.505149,0.188807,0.221951,0.361019,-4.725642,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9797,9797,-2.036515,8.180417,15.262128,30.833913,-43.936232,0.425551,0.072777,0.011543,74.770145,...,1.771567,13.032416,-13.425490,17.089929,0.157847,0.055215,0.137076,0.074297,-19.259919,NaN
9798,9798,26.684549,7.981693,1.354729,36.454231,14.818628,1.540632,0.312397,0.010377,21.635603,...,9.367203,26.334546,26.513112,28.457347,0.789725,0.055661,0.304322,0.149218,25.303692,NaN
9799,9799,25.668070,4.466860,0.693091,31.140641,21.176861,2.394171,0.347005,0.046229,9.963780,...,8.306674,25.588936,25.546733,26.596188,0.898447,0.241608,0.480408,0.341647,24.819402,NaN
9800,9800,22.630146,10.227159,2.794498,34.273876,9.942421,0.493346,0.108386,0.004037,24.331456,...,3.420630,25.143632,20.060628,25.919785,0.240304,0.022127,0.200804,0.040699,19.236848,NaN
9801,9801,13.570060,6.704890,7.363553,30.402112,-4.890279,1.898200,0.366231,0.045557,35.292391,...,8.332920,20.333312,4.780822,22.340990,0.818158,0.222729,0.746742,0.241955,4.488431,NaN

In [25]:
df_filled.to_csv('填補後_Bio_1520.csv')